fastapi==0.111.0
pydantic==2.7.3
peft==0.11.1
torch==2.3.1 --index-url https://download.pytorch.org/whl/cpu
uvicorn==0.30.1
scenedetect==0.6.3
opencv-python==4.10.0.82
environs==11.0.0
av==12.1.0
huggingface-hub==0.23.4
numpy==1.26.4
pillow==10.3.0
requests==2.25.1
transformers==4.41.2